<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateHelios.settings">
                    <conf name="pageMaxWidth">
                        <type><![CDATA[integer]]></type>
                    </conf>
                    <conf name="pageBackground">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="pageMenuPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>top</defaultvalue>
                    </conf>
                    <conf name="pageHeaderImage">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>background</defaultvalue>
                    </conf>
                    <conf name="headerLogo">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="headerText">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="headerShort">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="controlColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#df7366</defaultvalue>
                    </conf>
                    <conf name="footerColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2b252c</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateHelios">
                        <text>
                            <locale group="quiqqer/template-helios"
                                    var="template.settings.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="templateHelios.settings" name="templateHelios.settings.general">

                            <title>
                                <locale group="quiqqer/template-helios"
                                        var="templateHelios.settings.general.title"
                                        />
                            </title>

                            <!-- maximale Breite -->
                            <input conf="templateHelios.settings.pageMaxWidth" type="number">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="templateHelios.settings.pageMaxWidth"
                                            />
                                </text>
                            </input>

                            <!-- Hintergrund -->
                            <title>
                                <locale group="quiqqer/template-helios"
                                        var="templateHelios.settings.pageBackground"
                                        />
                            </title>
                            <input conf="templateHelios.settings.pageBackground" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="templateHelios.settings.pageBackground"
                                            />
                                </text>
                            </input>
                        </settings>

                        <settings title="templateHelios.settings" name="templateHelios.settings.header">
                            <!-- Menüposition -->
                            <title>
                                <locale group="quiqqer/template-helios"
                                        var="template.settings.header.title"
                                        />
                            </title>
                            <select conf="templateHelios.settings.pageMenuPos">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageMenuPos"
                                            />
                                </text>
                                <option value="top">
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageMenuPos.top"
                                            />
                                </option>
                                <option value="bottom">
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageMenuPos.bottom"
                                            />
                                </option>
                            </select>

                            <!-- Headerbild-Typ -->

                            <select conf="templateHelios.settings.pageHeaderImage">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageHeaderImage"
                                            />
                                </text>
                                <option value="background">
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageHeaderImage.as.background"
                                            />
                                </option>
                                <option value="image">
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.pageHeaderImage.as.image"
                                            />
                                </option>
                            </select>

                            <input conf="templateHelios.settings.headerLogo" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.headerLogo"
                                            />
                                </text>
                            </input>
                            <input conf="templateHelios.settings.headerText">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.headerText"
                                            />
                                </text>
                            </input>
                        </settings>

                        <settings title="templateHelios.settings" name="templateHelios.settings.colors">
                            <!-- Color settings -->
                            <title>
                                <locale group="quiqqer/template-helios"
                                        var="template.settings.colors.title"
                                        />
                            </title>
                            <input conf="templateHelios.settings.controlColor" type="color">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.colorControls"
                                            />
                                </text>
                            </input>
                            <input conf="templateHelios.settings.footerColor" type="color">
                                <text>
                                    <locale group="quiqqer/template-helios"
                                            var="template.settings.colorFooter"
                                            />
                                </text>
                            </input>
                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-helios/bin/css/style.css"/>
        </wysiwyg>

    </project>
</quiqqer>