<div class="wrapper style1">

    <div class="container">
        <div class="row 200%">

            <div class="4u" id="sidebar">
                <hr class="first" />

                {brickarea assign="bricks" area="leftSidebar" Site=$Site}
                {foreach from=$bricks item=Brick}
                    {$Brick->create()}
                    <hr />
                {/foreach}
            </div>

            <div class="8u important(collapse)" id="content">
                {$Template->getBody()}
            </div>

        </div>
    </div>
</div>