<div class="wrapper style1">

    {assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
    {assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

    <div class="container">
        <div class="row 200%">

            <div class="4u" id="sidebar">
                <hr class="first" />

                {brickarea assign="bricks" area="leftSidebar" Site=$Site}
                {foreach from=$bricks item=Brick}
                    {$Brick->create()}
                    <hr />
                {/foreach}
            </div>

            <div class="8u important(collapse)" id="content">

                {if !empty( $prefixContentBricks )}
                {foreach from=$prefixContentBricks item=Brick}
                        {$Brick->create()}
                {/foreach}
                {/if}

                {$Template->getBody()}

                {if !empty( $suffixContentBricks )}
                {foreach from=$suffixContentBricks item=Brick}
                        {$Brick->create()}
                {/foreach}
                {/if}

            </div>

        </div>
    </div>
</div>