<div class="wrapper style1">

    {assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
    {assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

    <div class="container">
        <div class="row 200%">

            <div class="8u" id="content">

                {if !empty( $prefixContentBricks )}
                {foreach from=$prefixContentBricks item=Brick}
                    {$Brick->create()}
                {/foreach}
                {/if}

                <div style="padding-bottom: 48px; {if !empty ($prefixContentBricks)}padding-top: 48px;{/if}">

                    {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle') ||
                    $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
                        {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle')}
                        <header class="site-title">
                            <h1 itemprop="name">{$Site->getAttribute('title')}</h1>
                        </header>
                        {/if}
                        {if !isset( $successMessage ) && $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
                        <div class="content-short" itemprop="description">
                            {$Site->getAttribute('short')|nl2br}
                        </div>
                        {/if}
                    {/if}

                    {$Template->getBody()}
                </div>

                {if !empty( $suffixContentBricks )}
                {foreach from=$suffixContentBricks item=Brick}
                    {$Brick->create()}
                {/foreach}
                {/if}
            </div>

            <div class="4u" id="sidebar">
                <hr class="first" />

                {brickarea assign="bricks" area="rightSidebar" Site=$Site}
                {foreach from=$bricks item=Brick}
                    {$Brick->create()}
                    <hr />
                {/foreach}

            </div>

        </div>
    </div>
</div>