
{strip}
{brickarea assign="bricks" area="startpageContent" Site=$Site}

{foreach from=$bricks item=Brick}

    {if $Brick->getType() == 'QUI\TemplateHelios\Controls\StartpageCarousel' ||
        $Brick->getType() == 'QUI\Bricks\Controls\Banner'
    }
        {$Brick->create()}

    {else if $Brick->getType() == 'QUI\Bricks\Controls\SideBox2'}
    <div class="wrapper style1">
        {assign var=_tmp value=$Brick->setAttribute( 'class', 'quiqqer-bricks-sidebox2 container special' )}
        {assign var=_tmp value=$Brick->setAttribute( 'grid-class-article', '6u special' )}
        {$Brick->create()}
    </div>

    {else if $Brick->getType() == 'QUI\Bricks\Controls\SideBox3'}
    <div class="wrapper style1">
        {assign var=_tmp value=$Brick->setAttribute( 'class', 'quiqqer-bricks-sidebox3 container special' )}
        {assign var=_tmp value=$Brick->setAttribute( 'grid-class-article', '4u special' )}
        {$Brick->create()}
    </div>

    {else}
    <section class="wrapper style1">
        <div class="container">
            {$Brick->create()}
        </div>
    </section>
    {/if}

{/foreach}
{/strip}

{$Template->getBody()}
